<%# app/views/users/_user.html.erb %>
<div id="<%= dom_id user %>" class="user-container">
  
  <%# Awatar wyświetlamy zawsze %>
  <div class="user-avatar">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar.variant(resize_to_limit: [local_assigns[:full_size] ? 300 : 100, 300]) %>
    <% end %>
  </div>

  <h2><%= user.name %> <%= user.surname %></h2>

  <%# BIO wyświetlamy TYLKO jeśli przekażemy show_bio: true %>
  <% if local_assigns[:show_bio] && user.bio.present? %>
    <div class="user-bio trix-content">
      <%= user.bio %>
    </div>
  <% end %>

  <% if action_name == 'index' %>
    <%= link_to "Zobacz profil", user_path(user) %>
  <% end %>
</div>